.bloop
.idea
.metals
project/target
project/metals.sbt
project/project/metals.sbt
project/project/target
project/project/project
target
.bsp/sbt.json
examples/coin-flip-ultimate/src/main/.DS_Store
examples/tic-tac-toe/client2/.parcel-cache
examples/tic-tac-toe/client2/dist
examples/tic-tac-toe/client2/node_modules
examples/tic-tac-toe/tyrian-client/node_modules
examples/tic-tac-toe/tyrian-client/node_modules
examples/tic-tac-toe/tyrian-client/node_modules
.vscode
examples/tic-tac-toe/tyrian-client/.vite/deps
