@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P";
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}