@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html {
  font-family: "Inter";
  font-weight: 400;
}
.container {

}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
